.apartment-card {
	margin: 1rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: transform 0.4s, box-shadow 0.5s;
}

.apartment-card:hover {
	transform: scale(1.04);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
